@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

* {
  font-family: 'Noto Sans KR', sans-serif !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #1c1c1c;
  color: #cacaca;
}

/* Common */
.mb {
  margin-bottom: 8px;
}

.mt {
  margin-top: 8px;
}

.external_link {
  color: #cacaca !important;
}

/* SearchBar */
.searchbar__container {
  position: fixed;
  flex-direction: column;
  height: 46px;
  width: 100%;
  top: 4px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchbar__container > .search-result {
  background: rgb(50 50 50);
  width: 560px;
  position: absolute;
  top: 46px;
  border-radius: 10px;
  margin-left: -40px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
  overflow: auto;
  max-height: 500px;
}

.searchbar__container > .searchbar {
  width: 600px;
}
.searchbar__container > .searchbar > input {
  width: 560px;
  height: 40px;
  border-radius: 24px;
  padding: 0px 50px;
  border: none;
  background-color: rgb(255 255 255 / 76%);
}

.searchbar__container > .searchbar > span {
  margin-left: -32px;
  width: 50px;
}

.searchbar__container > .searchbar > .search__icon {
  margin-right: -50px;
  width: 50px;
}

.searchbar__container .input-clear {
  display: none;
  color: #757b80;
  font-size: 20px;
  cursor: pointer;
}

.searchbar__container .input-clear.active {
  display: inline-block;
}

.searchbar__container .search-result .result__item {
  font-size: 12px;
  background: rgb(38, 38, 38);
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
}
.search-result .result__item .result__item__header {
  padding: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-result .result__item .result__item__proper__container {
  margin: 8px;
}
.search-result .result__item .result__item__proper {
  border: 1px solid rgba(255, 255, 255, 0.14);
  padding: 8px;
  border-radius: 4px;
}

.search-result .result__item .result__item__header span {
  margin-right: 8px;
}

.result__item .result__item__proper .result__item__proper__result {
  display: flex;
  padding-left: 16px;
}

.result__item .result__item__proper .result__item__proper__result > p {
  margin-right: 16px;
}
.result__item .result__item__proper .result__item__proper__result > p > span {
  margin-left: 4px;
}

.search-result .no-result {
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

/* Side */
#side-toggle__input {
  display: none;
}

#side-toggle__input ~ .side-toggle__icon:active {
  color: #aaa9a9;
}

aside {
  position: fixed;
  width: 280px;
  height: 100%;
}

.side-nav .logo {
  padding: 32px 28px 12px 0px;
  text-align: center;
  border-bottom: 1px solid #353535;
}

.logo > .logo-simple {
  display: none;
}

.navigation {
  margin-top: 24px;
}

.section li {
  position: relative;
}

.section li,
.menu li {
  list-style: none;
}

.section .section__title {
  padding: 8px;
  font-weight: bold;
  font-size: 12px;
  margin: 0px 16px;
  background: rgb(64 99 191 / 10%);
}

.section .section__title .section__label,
.section .section__menu .section__label {
  margin-left: 16px;
}

.section .section__menu {
  padding: 0px 16px;
  margin-top: 8px;
}

.menu > li {
  margin-bottom: 4px;
  border-left: 3px solid #00000000;
}

.menu > li:hover {
  background-color: #242424 !important;
}

.menu > li > a.active {
  background-color: #24242473;
}

.menu > li a {
  padding: 6px 32px;
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 12px;
}

/* Contents */
.container {
  background-color: #171717;
  position: fixed;
  top: 40px;
  border-radius: 16px;
  overflow: auto;
}

.page__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #353535;
  height: 50px;
  z-index: 4;
  position: sticky;
  top: 0;
  background-color: inherit;
}

.page__title .page__back {
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
}

.page__title .page__back:hover {
  color: #f7f7f7;
}

.page__title .page__back:active {
  color: #ffffff;
}

.page__title span {
  margin-left: 16px;
}

.contents {
  padding: 8px;
}

/* Card */
.card {
  background: #1c1c1c;
  padding: 8px;
}
.card .card__title {
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #353535;
}
.card .card__contents {
  padding: 8px;
}

.card .more-action {
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  padding: 4px;
  margin-bottom: -6px;
  border-top: 1px solid #353535;
}

.card .more-action:hover {
  background-color: rgb(76 76 76 / 20%);
}

.card .more-action:active {
  background-color: rgb(76 76 76 / 40%);
}

/* Filter */
.proper__filter {
  position: relative;
}
.proper__filter .card__title,
.proper__filter .expanded__icon {
  cursor: pointer;
}
.proper__filter .expanded__icon {
  font-size: 24px;
  position: absolute;
  right: 16px;
  top: 10px;
}

.search-contidion {
  margin: 8px;
}

.search-contidion .condition__title {
  font-size: 14px;
  margin-bottom: 4px;
}

.search-area {
  display: none;
}

.search-area.show {
  display: block;
}

.search-contidion .condition__area {
  display: flex;
  font-size: 12px;
}

.search-contidion .condition__area.condition__list {
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 110px;
}

.search-contidion .condition__area.condition__list.condition-border {
  border: 1px solid #353535;
  border-radius: 4px;
}

.search-contidion > .condition__area > .condition__item {
  margin: 4px;
  padding: 4px 16px;
  border: 1px solid rgb(112 112 112 / 72%);
  border-radius: 8px;
  text-align: right;
  cursor: pointer;
}

.search-contidion > .condition__area > .condition__item:hover {
  background-color: rgb(112 112 112 / 30%);
}

.search-contidion > .condition__area > .condition__item:active {
  background-color: rgb(112 112 112 / 60%);
}

.search-contidion > .condition__area > .condition__item.active {
  background-color: rgb(112 112 112 / 100%);
}

.search__button__area {
  border-top: 1px solid #353535;
  padding: 8px 8px 0px 8px;
}

/* Table */
.table {
  font-size: 12px;
  margin-top: 8px;
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  text-align: left;
  background: rgb(38 38 38);
  position: sticky;
  top: 50px;
}

.table tbody tr {
  background: rgb(37 37 43 / 30%);
  border-bottom: 1px solid rgb(197 197 197 / 40%);
}

.table tbody tr:hover {
  background: rgb(37 37 43 / 60%);
}

.table th,
.table td {
  padding: 0.75rem;
}

.table .number-cell {
  text-align: right;
}
.pagination {
  font-size: 12px;
  margin: 8px;
  text-align: right;
}

.pagination span {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0px 4px;
  padding-top: 6px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(109 109 112 / 50%);
  border-radius: 8px;
}

.pagination span:hover {
  background-color: rgb(109 109 112 / 50%);
}

.pagination span:active {
  background-color: rgb(109 109 112 / 80%);
}

.pagination .active {
  background-color: rgb(109 109 112 / 80%);
}

/* badge */
.badge {
  background-color: #5a4343;
  border-radius: 4px;
  display: inline-block;
  padding: 2px 8px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.badge.kospi {
  background-color: #615a76;
}
.badge.kosdaq {
  background-color: #435a4e;
}

/* font color */
.font-green {
  color: rgb(57 189 104);
}

.font-red {
  color: rgb(189 69 57);
}

/* button */
.btn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  padding: 6px 24px;
  cursor: pointer;
  border-radius: 4px;
}

.btn.btn-primary {
  border: 1px solid#4063bf;
  background-color: #4063bf;
}

.btn.btn-primary:hover {
  background-color: #3857a7;
}

.btn.btn-primary:active {
  background-color: #273d74;
}

.btn.btn-outline-primary {
  border: 1px solid#4063bf;
  background-color: initial;
  color: #4063bf;
}

.btn.btn-outline-primary:hover {
  background-color: #3857a7;
  color: white;
}

.btn.btn-outline-primary:active {
  background-color: #273d74;
  color: white;
}

@media (max-width: 768px) {
  .page__title {
    padding-left: 8px;
  }
  .container {
    left: 0;
    margin: 0;
  }
  aside {
    height: initial;
    display: none;
    width: 100%;
  }
  .container {
    top: 46px;
    width: 100%;
    height: calc(100% - 46px);
  }
  #side-toggle__input:checked ~ .container {
    left: 0;
  }
  .side-nav .logo {
    display: none;
  }

  .searchbar__container > .searchbar {
    text-align: center;
  }
  .searchbar__container > .searchbar > input {
    width: 300px;
  }
  .searchbar__container > .search-result {
    width: 100%;
    margin-left: 0;
  }
  .pc-only {
    display: none;
  }
  .type__button__select .type__button__desc {
    display: none;
  }
  #side-toggle__input:checked .section {
    position: absolute;
  }
  #side-toggle__input ~ .side-toggle__icon {
    cursor: pointer;
    position: absolute;
    left: 10px;
    font-size: 30px;
    z-index: 10;
  }

  #side-toggle__input:checked ~ aside {
    z-index: 9;
    top: 30px;
    display: block;
    background-color: #171717;
  }
  .table thead {
    top: 0;
  }

  .table__container {
    margin: 0 -8px -8px -8px;
    overflow-x: auto;
  }
  .table thead > tr > th {
    min-width: 72px;
  }
}

@media (min-width: 769px) {
  .container {
    left: 270px;
    width: calc(100% - 302px);
    margin: 16px;
    padding: 16px;
    padding-top: 0px;
    height: calc(100% - 72px);
  }

  #side-toggle__input ~ .side-toggle__icon {
    cursor: pointer;
    position: absolute;
    left: 240px;
    top: 10px;
    font-size: 30px;
    z-index: 10;
  }

  #side-toggle__input:checked ~ .side-toggle__icon {
    left: 24px;
  }

  #side-toggle__input:checked ~ aside {
    z-index: 9;
  }

  #side-toggle__input:checked ~ aside .logo {
    margin: 60px 8px 0px 8px;
    padding: 8px;
  }

  #side-toggle__input:checked ~ aside .logo > .logo-normal {
    display: none;
  }

  #side-toggle__input:checked ~ aside .logo > .logo-simple {
    display: block;
    width: 40px;
  }

  #side-toggle__input:checked ~ aside,
  #side-toggle__input:checked ~ .side-toggle__icon {
    width: 70px;
  }

  #side-toggle__input:checked ~ .container {
    left: 60px;
    width: calc(100% - 92px);
  }

  #side-toggle__input:checked ~ aside .section__title {
    margin: 8px;
    text-align: center;
  }

  #side-toggle__input:checked ~ aside .section__title .section__label {
    display: none;
  }

  #side-toggle__input:checked ~ aside .section__menu {
    display: none;
  }

  #side-toggle__input:checked ~ aside .section > li:hover > .section__menu {
    display: block;
    position: absolute;
    width: 240px;
    top: 0px;
    margin-top: 0;
    left: 55px;
    padding: 0px;
    background-color: #2e2e2e;
  }
}
