.main-area {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 768px) {
  .main-area {
    margin: 0;
    width: 100%;
  }
  .main-area > img {
    width: 100px;
  }

  .main-area > h2 {
    width: 90%;
    font-size: 16px;
    margin-top: 16px;
  }

  .main-area .proper__desc__list {
    width: 97%;
    margin-top: 16px;
  }
}

@media (min-width: 769px) {
  .main-area {
    margin-top: 200px;
    width: 80%;
    margin: auto;
  }
  .main-area > h2 {
    margin-top: 40px;
    width: 80%;
  }
}

.main-area > h2 {
  text-align: center;
}
.main-area > h2 > span {
  color: #9d3b3b;
}

.proper__desc__list {
  padding: 16px;
  width: 85%;
  border: 2px solid #3e3e3e;
  border-radius: 8px;
  margin-top: 40px;
}

.proper__desc {
  font-size: 14px;
  margin-bottom: 24px;
}

.proper__desc .card__contents {
  font-size: 12px;
}

.proper-long__desc {
  white-space: pre-wrap;
  display: none;
  padding: 8px;
  margin: 8px 0px;
  border: 1px solid #3e3e3e;
  border-radius: 8px;
}

.proper-short__desc {
  padding-bottom: 8px;
}

.proper-long__desc.active {
  display: block;
}

.desc-expend {
  text-align: center;
  padding: 4px 0px;
  margin-bottom: -16px;
  margin-left: -16px;
  margin-right: -16px;
}

.desc-expend:hover {
  background-color: rgb(76 76 76 / 20%);
}

.desc-expend:active {
  background-color: rgb(76 76 76 / 40%);
}
